body {
    background-color: black;
    color: white; 
}
#redlinks {
    color: white;
}
.lifterimg {
    height: 50px;
    width: 50px;
}
.omegaimg {
    height: 50px;
    width: 50px;
}
.bg-dark {
    background-color: black!important;
}
.whitetext {
    color: white;
    text-decoration: none;
}
button {
    margin: 0px 10px;
}
.workouttitle {
    color: #007bff;
}
.maincontent {
    margin: 10px 20px;
}